name: Fongnosudo CI/CD

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}

      - name: Build & Push FE Docker image
        env:
          ENV_FE: ${{ secrets.ENV_FE }}
        run: |
          cd fongnosudo-fe
          cp .env.example .env
          sed -i "s|http://127.0.0.1:5000/api|$ENV|g" .env
          docker build -t ${{ secrets.DOCKER_IMAGE_FE }}:v${{ github.sha }} .
          docker push ${{ secrets.DOCKER_IMAGE_FE }}:v${{ github.sha }}

      - name: Build & Push BE Docker image
        run: |
          cd fongnosudo-be
          docker build -t ${{ secrets.DOCKER_IMAGE_BE }}:v${{ github.sha }} .
          docker push ${{ secrets.DOCKER_IMAGE_BE }}:v${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Create SSH key
        run: |
          echo "${{ secrets.SSH_KEYPEM }}" > key.pem
          chmod 600 key.pem

      - name: Deploy fongnosudo
        env:
          FE_IMAGE: ${{ secrets.DOCKER_IMAGE_FE }}:v${{ github.sha }}
          BE_IMAGE: ${{ secrets.DOCKER_IMAGE_BE }}:v${{ github.sha }}
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@ec2-18-212-38-149.compute-1.amazonaws.com << EOF
            echo "complete connect ssh"
            cd /fongnosudo

            # Update Docker images in docker-compose.yml
            sed -i "s|dohoangphong/fongnosudo-fe:.*|$FE_IMAGE|g" docker-compose.yml
            sed -i "s|dohoangphong/fongnosudo-be:.*|$BE_IMAGE|g" docker-compose.yml

            # Restart containers
            docker compose down
            export \$(grep -v '^#' .env | xargs)
            docker compose up -d

            echo "Deploy complete"
          EOF
