name: Fongnosudo CI/CD

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    environment: fongnosudo

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        
        run: |
          echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin
          docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}

      - name: Build & Push FE Docker image
        env:
          ENV_FE: ${{ secrets.ENV_FE }}
        run: |
          cd fongnosudo-fe
          cp .env.example .env
          sudo sed -i "s|http://127.0.0.1:5000/api|$ENV|g" .env
          cat .env
          docker build -t ${{ secrets.DOCKER_IMAGE_FE }}:v${{ github.sha }} .
          docker push ${{ secrets.DOCKER_IMAGE_FE }}:v${{ github.sha }}

      - name: Build & Push BE Docker image
        run: |
          cd fongnosudo-be
          docker build -t ${{ secrets.DOCKER_IMAGE_BE }}:v${{ github.sha }} .
          docker push ${{ secrets.DOCKER_IMAGE_BE }}:v${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: fongnosudo

    steps:
      - name: Create SSH key
        run: |
          echo "${{ secrets.SSH_KEYPEM }}" > key.pem
          chmod 600 key.pem

      - name: Deploy fongnosudo
        env:
          FE_IMAGE: ${{ secrets.DOCKER_IMAGE_FE }}:v${{ github.sha }}
          BE_IMAGE: ${{ secrets.DOCKER_IMAGE_BE }}:v${{ github.sha }}
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@ec2-18-212-38-149.compute-1.amazonaws.com << EOF
            echo "complete connect ssh"
            sudo
            cd /fongnosudo
            whoami
            echo "sed image docker"
            echo $FE_IMAGE
            echo $BE_IMAGE
            sudo docker compose down
            sudo docker system prune -a -f
            rm docker-compose.yml
            cp docker-compose-copy.yml docker-compose.yml
            sudo sed -i "s|dohoangphong/fongnosudo-fe|$FE_IMAGE|g" docker-compose.yml
            sudo sed -i "s|dohoangphong/fongnosudo-be|$BE_IMAGE|g" docker-compose.yml
            export $(grep -v '^#' .env | xargs)
            echo $FRONTEND_PORT
            sudo docker compose up -d
            
            echo "Deploy complete"
          EOF
